<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @booking.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @booking.event_id %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
