<h1>Listing users</h1>

<table>
  <tr>
    <th>Forename</th>
    <th>Surname</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Notes</th>
    <th>Rfid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.forename %></td>
    <td><%= user.surname %></td>
    <td><%= user.address %></td>
    <td><%= user.postcode %></td>
    <td><%= user.mobile %></td>
    <td><%= user.email %></td>
    <td><%= user.notes %></td>
    <td><%= user.rfid %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
