<p id="notice"><%= notice %></p>

<p>
  <b>Forename:</b>
  <%= @user.forename %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.surname %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Postcode:</b>
  <%= @user.postcode %>
</p>

<p>
  <b>Mobile:</b>
  <%= @user.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Notes:</b>
  <%= @user.notes %>
</p>

<p>
  <b>Rfid:</b>
  <%= @user.rfid %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>Selected Events</h2>
<ul>
<% @user.events.each do |event| %>
	<li>
		<%= event.name %>
	</li>
<% end %>
</ul>

<h2>All Events</h2>
<ul>
<% Event.all.each do |event| %>
	<li>
		<%= event.name %>
	</li>
<% end %>
</ul>

