<h1>Listing events</h1>

<p class="pull-right">
<%= link_to 'New Event', new_event_path, :class => "btn btn-danger", :style => "color:white"  %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.strftime("%a %d/%m/%Y") %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
